<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register </title>
    <link rel="icon" href="../Achar website/images/logo2.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="{{url_for('static', filename='images/logo.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/teacher_register.css')}}">
</head>
<body>

    <br>
    <br>
    <br>
    <div class="cont">

        <div class="form sign-in">
            <form action="{{ url_for('student_register') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <h2>Student Registration</h2>
                <label>
                    <!-- <span>Email</span> -->
                    <input id="email1" name="email1" type="text" placeholder="E-mail" class="txt"
                        type="email" required>
                </label>
                <label>
                    <!-- <span>Email</span> -->
                    <input id="name1" name="name1" type="text" placeholder="Name" class="txt"
                        type="text" required>
                </label>
                <label>
                        <select name="branch1" id="branch1" class="branch" required>
                            <option value="">Branch</option>
                            <option value="IT">Information Technology</option>
                            <option value="COMPS">Computer Science</option>
                            <option value="ELEC">Electrical</option>
                            <option value="MECH">Mechanical</option>
                            <option value="AIDS">AIDS</option>
                            <option value="EXTC">EXTC</option>
                            
                          </select>
                </label>
                <label>
                    <select name="year1" id="year1" class="branch" required>
                        <option value="">Year</option>
                        <option value="1">First Year</option>
                        <option value="2">Second Year</option>
                        <option value="3">Third Year</option>
                        <option value="4">Final Year</option>
                        
                      </select>
                </label>
                <label>
                    <select name="sem1" id="sem1" class="branch" required>
                        <option value="">Semester</option>
                        <option value="odd">Odd</option>
                        <option value="even">Even</option>
                        
                      </select>
                </label>
                <label>
                    <!-- <span>Email</span> -->
                    <input id="uniq_number" name="uniq_number" type="text" placeholder="Unique Number(Roll Number, PRN)" class="txt"
                        type="text" required>
                </label>
                <label>
                    <!-- <span>Password</span> -->
                    <input id="password1" name="password1" type="password" placeholder="Enter Your Password" class="pass"
                        type="password" required>
                </label>
                <p class="forgot-pass"><a class="forgot-pass" href="{{url_for('login')}}">Already have an Account?</a>
                <!-- <button type="button" class="submit">Sign In</button> -->
                    <button class="submit" type="submit" value="Sign In">Sign up</button>
                
            </form>

        </div>
        <div class="sub-cont">

            <div class="img">
                <div class="img__text m--up">

                    <h3>Are you a Teacher?<h3>
                </div>
                <div class="img__text m--in">

                    <h3>Are you a Student?<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Click Here</span>
                    <span class="m--in">Click Here</span>
                </div>
            </div>
            <div class="form sign-up">
                <form action="{{ url_for('teacher_register') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <h2>Teacher Registration</h2>

                    <label>
                        <!-- <span>Email</span> -->
                        <input id="email2" name="email2" type="text" placeholder="E-mail" class="txt"
                            type="email" required>
                    </label>
                    <label>
                        <!-- <span>Email</span> -->
                        <input id="name2" name="name2" type="text" placeholder="Name" class="txt"
                            type="text" required>
                    </label>
                    
                    <label>
                            <select name="branch2" id="branch2" class="branch" required>
                                <option value="">Branch</option>
                                <option value="IT">Information Technology</option>
                                <option value="COMPS">Computer Science</option>
                                <option value="ELEC">Electrical</option>
                                <option value="MECH">Mechanical</option>
                                <option value="AIDS">AIDS</option>
                                <option value="EXTC">EXTC</option>
                                
                              </select>
                    </label>
                    <label>
                        <select name="year2" id="year2" class="branch" required>
                            <option value="">Year</option>
                            <option value="1">First Year</option>
                            <option value="2">Second Year</option>
                            <option value="3">Third Year</option>
                            <option value="4">Final Year</option>
                            
                          </select>
                    </label>
                    <label>
                        <select name="sem2" id="sem2" class="branch" required>
                            <option value="">Semester</option>
                            <option value="odd">Odd</option>
                            <option value="even">Even</option>
                            
                          </select>
                    </label>
                    <label>
                        <!-- <span>Email</span> -->
                        <input id="subject" name="subject" type="text" placeholder="Subject" class="txt"
                            type="text" required>
                    </label>
                    <label>
                        <!-- <span>Password</span> -->
                        <input id="password2" name="password2" type="password" placeholder="Enter Your Password"
                            class="pass" type="password" required>
                    </label>
                    <p class="forgot-pass"><a class="forgot-pass" href="{{url_for('login')}}">Already have an Account?</a>
                            <button class="submit" type="submit" value="Sign In">Sign up</button>
                    </p>
                </form>

            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>

    <br>
    <br>
    <br>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>


    <!-- ICON LINKS SCRIPT -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- ICON LINKS SCRIPTS -->


</body>

</html>